{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image⁄x-icon" href="{% static 'img/logo.png'%}" />
    <link rel="stylesheet" href="{% static 'css/base.css'%}"">
    <title>BOOKREST</title>
  </head>
  <body>
    <div class="nav">
      <div class="nav__logo">
        <h1>
          <a href="{% url 'main' %}">BOOKREST</a>
        </h1>
      </div>

      <div class="nav__menu">
        <a
          class="nav__menu__link js-nav__menu__link"
          href="{% url 'noticeBase' %}"
          data-path="/noticeBase"
          >공지사항</a
        >
        <a
          class="nav__menu__link js-nav__menu__link"
          href="{% url 'category' %}"
          data-path="/category/"
          >카테고리</a
        >
        <a
          class="nav__menu__link js-nav__menu__link"
          href="{% url 'vote' %}"
          data-path="/vote/"
          >이달의 책</a
        >
        <a
          class="nav__menu__link js-nav__menu__link"
          href="{% url 'inquiry' %}"
          data-path="/inquiry/"
          >문의하기</a
        >
        {% if user.is_active %}
        <a
          class="nav__menu__link js-nav__menu__link"
          href="{% url 'sign_out' %}"
          >로그아웃</a
        >
        <a
          class="nav__menu__link js-nav__menu__link"
          href="{% url 'mypage' %}"
          data-path="/join/mypage/"
          >{{ user.username }}님 안녕하세요.</a
        >
        {% else %}
        <a
          class="nav__menu__link js-nav__menu__link"
          href="{% url 'sign_up' %}"
          data-path="/join/sign_up/"
          >회원가입</a
        >
        <a
          class="nav__menu__link js-nav__menu__link"
          href="{% url 'sign_in' %}"
          data-path="/join/sign_in/"
          >로그인</a
        >
        {% endif %}
      </div>
    </div>

    {% block content %} {% endblock %}

    <script src="{% static 'js/nav.js'%}"></script>
  </body>
</html>