@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  all: unset;
  color: black;
  cursor: pointer;
}

.nav {
  position: sticky;
  top: 0px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10% 1% 10%;
  box-sizing: border-box;
  margin-top: 2%;
}

.nav__logo > h1 {
  all: unset;
  font-size: 28px;
  font-weight: 700;
}

.nav__menu {
  position: relative;
  display: flex;
  gap: 36px;
}

.nav__menu__link {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  text-decoration: none;
  font-weight: 300;
}

.nav__menu__link::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  background-color: #2dbe61;
  width: 100%;
  height: 4px;

  transform: scale(0);
  transform-origin: left;
  opacity: 0;
  transition: all 1s;
}

.nav__menu__link--animate::before {
  opacity: 1;
  transform: scale(1);
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-top: 40px;
  background-color: #191f28;
}

.footer__summaryTool {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  max-width: 1064px;
  padding-right: 67px;
  padding-left: 67px;
  margin-right: auto;
  margin-left: auto;
}

.footer__summaryTool__summary,
.footer__summaryTool__operateTime {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #8b95a1;
}

.footer__summaryTool__summary__h3,
.footer__summaryTool__summary__h3 {
  display: block;
  padding-bottom: 16px;
  font-size: 15px;
  color: #b0b8c1;
}
